:root {
  --first-text-color: #757575;
  --second-text-color: #212121;
  --akcent-text-color: #2196f3;
  --white-text-color: #ffffff;

  --secondary-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
  --first-icon-color: #afb1b8;

  --address-text-color: rgba(255, 255, 255, 0, 6);
  --section-padding: 94px;
  --card-set-gap: 30px;
}
// Набор шрифтов

$primeryFont: 'Roboto', sans-serif;
$secondaryColor: 'Raleway', sans-serif;
